.venv/
__pycache__/
*.pyc
output/
data/real/*
!data/real/.gitkeep
data/raw/*
!data/raw/clinical_trials/.gitkeep
!data/raw/patient_general/.gitkeep
!data/raw/patient_genetic/.gitkeep
data/output/
data/dump/*
.env
*.egg-info/
dist/
.pytest_cache/
